<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <p>
        Hi <%= @user.name %>,
        There was a request to change your password!<br>
        This is your secret code!<br>
        
        <h3 style="font-weight: bold;"><%= @user.reset_password_token %></h3>
        Please don't share your OTP with anyone and <br>
        If you did not make this request then please ignore this email.
        
        Regards,<br>
        Healthcare Management
    </p>
</body>
</html>
